
/* 28 - 11 */
/* #test {
    color: red;
    font-size: 20px;
}

.blue {
    color:blue;
}

p {
    color: green;
} */

/* 29 - 11 */
/* Homework Section */
/* #test {
    color: gold;
}
p {
    color: orange;
}
.blue {
    color:blue;
}
.bg-red {
    background-color: red;
    color:chartreuse;
}
#elem2 {
    font-size: 30px;
}
#elem3 {
    font-family: cursive;
} */

/* 30 - 11 - 2021 */
/* Homework Section */

/* #test {
    color: green;
    font-size: 30px;
}

#login {
    background-color: gray;
    border: solid blue 2px;
    color: white;
    padding: 5px;
}

#status {
    border: solid 2px;
} */

/* 01 - 12 - 2021 */
#test {
    color: red;
    font-size: 30px;
} 

#login {
    background-color: gray;
    border: solid blue 2px;
    color: white;
    padding: 5px;
}

#status {
    border: solid 2px;
    padding: 5px;
    text-align: center;
}

/* 02 - 12 - 2021 */

/* #test {
    color: red;
    font-size: 30px;
} */